<p>******** Now your results ********</p>
<p>Your word:<%=" " + @answer %></p>
<p>Time Taken to answer: <%=" #{@time}" %></p>
<p>Translation: </p>
<p>Your score: <%="  #{@score}" %></p>
<p>Message: <%=" " + @message %></p>

